<body><h1 style="text-align: center">Sign up</h1>
	<form class="register" method="POST" action="/users" enctype="multipart/form-data">
		<%= token_tag %> 
		<label for="name">Your name</label>
		<input type="text" name="name">
		<label for="email">Your email</label>
		<input type="email" name="email">
		<label for="password">Password (minumum 8 symbols)</label>
		<input type="password" name="password">
		<label for="password_confirmation">Confirm password</label>
		<input type="password" name="password_confirmation">
		<input type="submit" value="signup">
	</form>
</body>
<footer class="debug">
	<%= debug(params) if Rails.env.development? %>
</footer>