.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploads{
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}
.images{
  .photo{
      width: 500px;
      border-radius: 10px;
      border: 1px solid rgb(214, 210, 210);
      margin-bottom: 20px;
  }
}
.photo-image{
  width: 100%;
}
.photo-caption{
  padding-left: 20px;
  display:inline-block;
  width: 70%;
}
.uploads{
  display: flex;
  justify-content: space-between;
}
.uploads input[type="submit"]{
  background-color: #333333;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.deletes{
  display: inline-block;
  align: right;
  width: 20%;
}
.deletes input[type="submit"]{
  width:100%;
}