.upload {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-size: 18px;
}
.upload input {
	width: 25%;
}
.upload label {
	width: 15%;
}
.postheader {
	margin-bottom: 15px;
}
.media-body {
	vertical-align: middle;
}
.media h3 {
	text-align: left;
}
.photo {
	width: 100%;
	text-align: center;
}
.photo-image{
	max-width: 75%;
	margin: auto;
	margin-bottom: 15px;
}
.btn-danger {
	width: 25%;
	font-size: 20px;
}
.photo-caption {
	font-size: 22px;
}
